# Đồ án cuối kỳ - Lập trình cho Khoa học dữ liệu
**GV: TRẦN TRUNG KIÊN**

**GV: PHAN THỊ PHƯƠNG UYÊN**

**Họ và tên:** Huỳnh Minh Châu

**MSSV:** 1712298

# Thực hiện đồ án

**Giới thiệu đề tài:**
Điểm thi kỳ thi THPT QG 2018 và 2017: Tình hình chung và việc gian lận

In [1]:
import pandas as pd
import re

## I. Lấy dữ liệu

**Dữ liệu điểm thi THPT QG 2017 được lấy từ:** https://vov.vn/xa-hoi/giao-duc/cap-nhat-diem-thi-thpt-quoc-gia-nam-2017-o-cac-dia-phuong-643262.vov

Đặc điểm dữ liệu: 
* Dữ liệu được tách thành nhiều file theo tỉnh
* Chỉ có 1 cột 'Điểm' cho điểm của tất cả các môn

--> Cần thực hiện bước tiền xử lý dữ liệu


**Dữ liệu điểm thi THPT QG 2018 được lấy từ:** https://rpubs.com/chidungkt/625722?utm_source=zalo&utm_medium=zalo&utm_campaign=zalo&zarsrc=31&fbclid=IwAR2SJs93hy50dOBoOY90IE6QXrTL15Q0bFPphO9z1rX0WBpvaMFMXjT2qdE
Đặc điểm dữ liệu: 
* Đã có dữ liệu hoàn chỉnh. 
* Điểm của các môn sẽ nằm ở các cột khác nhau

--> Không cần tiền xử lý dữ liệu

## II. Tiền xử lý dữ liệu

### 1. Xử lý dữ liệu điểm THPTQG 2017

**Đọc dữ liệu điểm THPTQG 2017**

In [2]:
df_1=pd.read_excel("1_BaRia_VungTau_HJKG.xls")
df_1['Tỉnh'] = 'Bà Rịa Vũng Tàu'
df_2=pd.read_excel("1_Da_Nang_AHWJ.xls")
df_2['Tỉnh'] = 'Đà Nẵng'
df_3=pd.read_excel("1_Ha_Noi_CVXG.xls")
df_3['Tỉnh'] = 'Hà Nội'
df_4=pd.read_excel("1_Son_La_JIDP.xls")
df_4['Tỉnh'] = 'Sơn La'
df_5=pd.read_excel("1_TuyenQuang_JBYF.xls")
df_5['Tỉnh'] = 'Tuyên Quang'
df_6=pd.read_excel("2_BacKan_GFVQ.xls")
df_6['Tỉnh'] = 'Bắc Cạn'
df_7=pd.read_excel("2_Ha_Giang_QNCM.xls")
df_7['Tỉnh'] = 'Hà Giang'
df_8=pd.read_excel("2_Ninh_Thuan_VHLY.xls")
df_8['Tỉnh'] = 'Ninh Thuận'
df_9=pd.read_excel("2_Thanh_Hoa_AUFV.xls")
df_9['Tỉnh'] = 'Thanh Hóa'
df_10=pd.read_excel("2_VinhPhuc_GUDK.xls")
df_10['Tỉnh'] = 'Vĩnh Phúc'
df_11=pd.read_excel("3_BacGiang_TOIF.xls")
df_11['Tỉnh'] = 'Bắc Giang'
df_12=pd.read_excel("3_BinhPhuoc_YFMU.xls")
df_12['Tỉnh'] = 'Bình Phước'
df_13=pd.read_excel("3_Cao_Bang_CIEY.xls")
df_13['Tỉnh'] = 'Cao Bằng'
df_14=pd.read_excel("3_Dong_Thap_GSXQ.xls")
df_14['Tỉnh'] = 'Đồng Tháp'
df_15=pd.read_excel("3_Thua_Thien_Hue_HMDB.xls")
df_15['Tỉnh'] = 'Thừa Thiên Huế'
df_16=pd.read_excel("4_An_Giang_JNOS.xls")
df_16['Tỉnh'] = 'An Giang'
df_17=pd.read_excel("4_BacNinh_STLR.xls")
df_17['Tỉnh'] = 'Bắc Ninh'
df_18=pd.read_excel("4_Binh_Dinh_WWZW.xls")
df_18['Tỉnh'] = 'Bình Định'
df_19=pd.read_excel("4_DienBien_SOJG.xls")
df_19['Tỉnh'] = 'Điện Biên'
df_20=pd.read_excel("4_Lang_Son_NYQL.xls")
df_20['Tỉnh'] = 'Lạng Sơn'
df_21=pd.read_excel("5_Bac_Lieu_XEKH.xls")
df_21['Tỉnh'] = 'Bạc Liêu'
df_22=pd.read_excel("5_Gia_Lai_ABZI.xls")
df_22['Tỉnh'] = 'Gia Lai'
df_23=pd.read_excel("5_HaiDuong_WWWG.xls")
df_23['Tỉnh'] = 'Hải Dương'
df_24=pd.read_excel("5_Hanam_QGJS.xls")
df_24['Tỉnh'] = 'Hà Nam'
df_25=pd.read_excel("5_Yen_Bai_FAQR.xls")
df_25['Tỉnh'] = 'Yên Bái'
df_26=pd.read_excel("6_Dong_Nai_WOTM.xls")
df_26['Tỉnh'] = 'Đồng Nai'
df_27=pd.read_excel("6_Hau_Giang_KWDM.xls")
df_27['Tỉnh'] = 'Hậu Giang'
df_28=pd.read_excel("6_HoaBinh_TPZY.xls")
df_28['Tỉnh'] = 'Hòa Bình'
df_29=pd.read_excel("6_NinhBinh_IGFT.xls")
df_29['Tỉnh'] = 'Ninh Bình'
df_30=pd.read_excel("6_Quang_Ninh_DQCJ.xls")
df_30['Tỉnh'] = 'Quảng Ninh'
df_31=pd.read_excel("7_HaTinh_DDHD.xls")
df_31['Tỉnh'] = 'Hà Tĩnh'
df_32=pd.read_excel("7_HungYen_LTIK.xls")
df_32['Tỉnh'] = 'Hưng Yên'
df_33=pd.read_excel("7_Kon_Tum_RSLR.xls")
df_33['Tỉnh'] = 'Kon Tum'
df_34=pd.read_excel("7_Tien_Giang_EFHX.xls")
df_34['Tỉnh'] = 'Tiền Giang'
df_35=pd.read_excel("8_Can_Tho_RQZM.xls")
df_35['Tỉnh'] = 'Cần Thơ'
df_36=pd.read_excel("8_Dak_Lak_YKPR.xls")
df_36['Tỉnh'] = 'Đắk Lắk'
df_37=pd.read_excel("8_KienGiang_OTOB.xls")
df_37['Tỉnh'] = 'Kiên Giang'
df_38=pd.read_excel("8_PhuYen_OGIM.xls")
df_38['Tỉnh'] = 'Phú Yên'
df_39=pd.read_excel("9_DakNong_FBOP.xls")
df_39['Tỉnh'] = 'Đắk Nông'
df_40=pd.read_excel("9_Khanh_Hoa_KPKQ.xls")
df_40['Tỉnh'] = 'Khánh Hòa'
df_41=pd.read_excel("9_LaiChau_ALKN.xls")
df_41['Tỉnh'] = 'Lai Châu'
df_42=pd.read_excel("9_Vinh_Long_OLWA.xls")
df_42['Tỉnh'] = 'Vĩnh Long'
df_43=pd.read_excel("10_BinhThuan_RIIW.xls")
df_43['Tỉnh'] = 'Bình Thuận'
df_44=pd.read_excel("10_Ca_Mau_BKXT.xls")
df_44['Tỉnh'] = 'Cà Mau'
df_45=pd.read_excel("10_LamDong_GNFT.xls")
df_45['Tỉnh'] = 'Lâm Đồng'
df_46=pd.read_excel("10_Soc_Trang_XCGJ.xls")
df_46['Tỉnh'] = 'Sóc Trăng'
df_47=pd.read_excel("11_BinhDuong_RYQL.xls")
df_47['Tỉnh'] = 'Bình Dương'
df_48=pd.read_excel("11_LaoCai_GMSU.xls")
df_48['Tỉnh'] = 'Lào Cai'
df_49=pd.read_excel("12_BenTre_DKWF.xls")
df_49['Tỉnh'] = 'Bến Tre'
df_50=pd.read_excel("12_LongAn_ZZUK.xls")
df_50['Tỉnh'] = 'Long An'
df_51=pd.read_excel("13_NamDinh_ESEL.xls")
df_51['Tỉnh'] = 'Nam Định'
df_52=pd.read_excel("13_TraVinh_LKUJ.xls")
df_52['Tỉnh'] = 'Trà Vinh'
df_53=pd.read_excel("14_NgheAn_BSLY.xls")
df_53['Tỉnh'] = 'Nghệ An'
df_54=pd.read_excel("15_PhuTho_ABWQ.xls")
df_54['Tỉnh'] = 'Phú Thọ'
df_55=pd.read_excel("16_QuangBinh_KGEU.xls")
df_55['Tỉnh'] = 'Quảng Bình'
df_56=pd.read_excel("17_QuangNam_AMTK.xls")
df_56['Tỉnh'] = 'Quảng Nam'
df_57=pd.read_excel("18_QuangNgai_KOFP.xls")
df_57['Tỉnh'] = 'Quảng Ngãi'
df_58=pd.read_excel("19_QuangTri_OMZF.xls")
df_58['Tỉnh'] = 'Quảng Trị'
df_59=pd.read_excel("20_TayNinh_ILFA.xls")
df_59['Tỉnh'] = 'Tây Ninh'
df_60=pd.read_excel("21_ThaiBinh_FTVG.xls")
df_60['Tỉnh'] = 'Thái Bình'
df_61=pd.read_excel("22_ThaiNguyen_TLTW.xls")
df_61['Tỉnh'] = 'Thái Nguyên'
df_62=pd.read_excel("23_HaiPhong_HXBV.xls")
df_62['Tỉnh'] = 'Hải Phòng'
df_63=pd.read_excel("24_HCM_XULN.xls")
df_63['Tỉnh'] = 'TP HCM'
df_64=pd.read_excel("TPHCM.xls")
df_64['Tỉnh'] = 'TP HCM'
df_65=pd.read_excel("HaNoi.xls")
df_65['Tỉnh'] = 'Hà Nội'

Việt Nam có 64 tỉnh thành nhưng ở đây lại có 65 file dữ liệu? 

Mỗi file là dữ liệu của một tỉnh, riêng TPHCM có 2 file do dữ liệu nhiều nên đã được chia thành 2 file

**Nối dữ liệu lại thành df_2017**

In [3]:
df_2017=pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10,
              df_11,df_12,df_13,df_14,df_15,df_16,df_17,df_18,df_19,df_20,
              df_21,df_22,df_23,df_24,df_25,df_26,df_27,df_28,df_29,df_30,
              df_31,df_32,df_33,df_34,df_35,df_36,df_37,df_38,df_39,df_40,
              df_41,df_42,df_43,df_44,df_45,df_46,df_47,df_48,df_49,df_50,
              df_51,df_52,df_53,df_54,df_55,df_56,df_57,df_58,df_59,df_60,
              df_61,df_62,df_63,df_64,df_65],axis=0, ignore_index=True)
df_2017

,HO_TEN,NGAY_SINH,SOBAODANH,DIEM_THI,Tỉnh
0,PHẠM THỊ PHI NHUNG,16/06/1999,52005930,Toán: 6.80 Ngữ văn: 6.25 Vật lí: 4.2...,Bà Rịa Vũng Tàu
1,NGUYỄN THỊ NGỌC LIÊN,07/06/1999,52002951,Toán: 5.60 Ngữ văn: 6.25 Vật lí: 6.7...,Bà Rịa Vũng Tàu
2,LÊ HỒNG NGỌC,13/07/1999,52007117,Toán: 6.20 Ngữ văn: 5.25 Lịch sử: 4....,Bà Rịa Vũng Tàu
3,NGUYỄN THỊ KIỀU LINH,10/11/1999,52002970,Toán: 7.40 Ngữ văn: 5.25 Vật lí: 6.7...,Bà Rịa Vũng Tàu
4,LÊ VÕ TRƯỜNG GIANG,08/09/1999,52002768,Toán: 7.00 Ngữ văn: 5.75 Vật lí: 7.7...,Bà Rịa Vũng Tàu
...,...,...,...,...,...
861063,NGUYỄN THỊ HẰNG,27/09/1999,1049361,Toán: 1.80 Ngữ văn: 6.50 Lịch sử: 3....,Hà Nội
861064,ĐỖ THỊ PHƯƠNG THẢO,18/05/1999,1005643,Toán: 8.60 Ngữ văn: 7.25 Vật lí: 5.5...,Hà Nội
861065,NGUYỄN HẢI ANH,23/03/1999,1011248,Toán: 7.40 Ngữ văn: 8.50 Lịch sử: 5....,Hà Nội
861066,TRỊNH VĂN TUYẾN,20/04/1998,1069207,Ngữ văn: 6.25,Hà Nội
861067,NGUYỄN THẠCH ĐẠT,31/10/1999,1029511,Toán: 2.60 Ngữ văn: 3.25 Lịch sử: 6....,Hà Nội

In [4]:
#line=re.split(',', line)
DiemThi=list(df_17['DIEM_THI'])
#del df_17['DIEM_THI']
nan=float('NaN')
Toan=[nan]*len(DiemThi)
Van=[nan]*len(DiemThi)
Su=[nan]*len(DiemThi)
Dia=[nan]*len(DiemThi)
GDCD=[nan]*len(DiemThi)
Li=[nan]*len(DiemThi)
Hoa=[nan]*len(DiemThi)
Sinh=[nan]*len(DiemThi)
Anh=[nan]*len(DiemThi)
for i in range(len(DiemThi)):
    a=str(DiemThi[i])
    diem=re.split('   ', a)
    try:
        index_value = diem.index('Toán:')
        Toan[i]=diem[index_value+1]
    except ValueError:
        index_value = -1
    try:
        index_value = diem.index('Ngữ văn:')
        Van[i]=diem[index_value+1]
    except ValueError:
        index_value = -1
    try:
        index_value = diem.index('Lịch sử:')
        Su[i]=diem[index_value+1]
    except ValueError:
        index_value = -1
    try:
        index_value = diem.index('Địa lí:')
        Dia[i]=diem[index_value+1]
    except ValueError:
        index_value = -1
    try:
        index_value = diem.index('GDCD:')
        GDCD[i]=diem[index_value+1]
    except ValueError:
        index_value = -1
    try:
        index_value = diem.index('Vật lí:')
        Li[i]=diem[index_value+1]
    except ValueError:
        index_value = -1
    try:
        index_value = diem.index('Hóa học:')
        Hoa[i]=diem[index_value+1]
    except ValueError:
        index_value = -1
    try:
        index_value = diem.index('Sinh học:')
        Sinh[i]=diem[index_value+1]
    except ValueError:
        index_value = -1
    try:
        index_value = diem.index('Tiếng Anh:')
        Anh[i]=diem[index_value+1]
    except ValueError:
        index_value = -1
df_17['Math']=Toan
df_17['Viet']=Van
df_17['History']=Su
df_17['Geography']=Dia
df_17['GDCD']=GDCD
df_17['Physics']=Li
df_17['Chemistry']=Hoa
df_17['Biology']=Sinh
df_17['English']=Anh
df_17

,HO_TEN,NGAY_SINH,SOBAODANH,DIEM_THI,Tỉnh,Toan,Ngu_van,Lich_su,Đia_li,GDCD,Vat_li,Hoa_hoc,Sinh_hoc,Tieng_Anh
0,NGUYỄN THỊ HUỆ,09/01/1999,19004527,Toán: 6.20 Ngữ văn: 6.50 Lịch sử: 6....,Bắc Ninh,6.20,6.50,6.50,5.50,8.00,NaN,NaN,NaN,5.20
1,LƯƠNG THỊ HUYỀN,22/11/1999,19001278,Toán: 6.40 Ngữ văn: 6.50 Vật lí: 5.2...,Bắc Ninh,6.40,6.50,NaN,NaN,NaN,5.25,6.00,5.25,3.80
2,NGUYỄN ĐỨC TÙNG,23/05/1999,19004880,Toán: 4.20 Ngữ văn: 4.50 Vật lí: 2.7...,Bắc Ninh,4.20,4.50,3.25,7.50,8.50,2.75,2.25,3.25,3.80
3,NGUYỄN ĐĂNG HÙNG,15/03/1999,19007655,Toán: 8.60 Ngữ văn: 5.25 Vật lí: 7.7...,Bắc Ninh,8.60,5.25,NaN,NaN,NaN,7.75,7.75,4.25,3.00
4,CAO THỊ HỒNG,16/04/1999,19012658,Toán: 6.60 Ngữ văn: 5.00 Vật lí: 4.5...,Bắc Ninh,6.60,5.00,NaN,NaN,NaN,4.50,5.50,7.25,4.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13635,NGUYỄN THỊ HUẾ,02/10/1999,19012668,Toán: 4.20 Ngữ văn: 6.50 Lịch sử: 4....,Bắc Ninh,4.20,6.50,4.50,7.25,9.25,NaN,NaN,NaN,3.00
13636,NGÔ VĂN THẮNG,30/09/1999,19013636,Toán: 3.80 Ngữ văn: 4.50 Lịch sử: 6....,Bắc Ninh,3.80,4.50,6.00,6.00,NaN,NaN,NaN,NaN,NaN
13637,ĐỖ THIỆN THỰC,03/09/1999,19006751,Toán: 3.40 Ngữ văn: 4.00 Lịch sử: 2....,Bắc Ninh,3.40,4.00,2.75,6.25,7.75,NaN,NaN,NaN,3.20
13638,NGUYỄN THỊ HỒNG HẠNH,10/06/1999,19006979,Toán: 5.60 Ngữ văn: 5.25 Vật lí: 5.0...,Bắc Ninh,5.60,5.25,NaN,NaN,NaN,5.00,6.75,4.50,5.00
13639,PHẠM HUY TÍN,15/04/1999,19013427,Toán: 8.00 Ngữ văn: 4.00 Vật lí: 8.0...,Bắc Ninh,8.00,4.00,NaN,NaN,NaN,8.00,7.00,5.50,5.00

## 2. Dữ liệu điểm THPTQG 2018

In [5]:
df_2018=pd.read_csv("THPT 2018 Quoc gia.csv")
df_2018

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,SoBD,Math,Viet,English,Physics,Chemistry,Biology,History,Geography,GDCD,Unnamed: 11,KhoiA,KhoiB,KhoiC,KhoiD,KhoiA1
0,1,18010226,3.0,3.75,3.0,NaN,NaN,NaN,3.0,6.50,8.25,NaN,NaN,NaN,13.25,9.75,NaN
1,2,18010229,8.8,7.50,9.0,NaN,NaN,NaN,6.0,9.00,8.25,NaN,NaN,NaN,22.50,25.3,NaN
2,3,18010232,6.0,5.50,4.0,5.75,5.50,5.00,NaN,NaN,NaN,NaN,17.25,16.50,NaN,15.5,15.75
3,4,18010242,3.4,5.75,2.6,NaN,NaN,NaN,3.5,4.75,7.25,NaN,NaN,NaN,14.00,11.75,NaN
4,5,18010247,3.8,6.75,3.0,NaN,NaN,NaN,3.5,6.25,8.00,NaN,NaN,NaN,16.50,13.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744391,744392,52001970,4.6,4.50,6.0,3.75,3.00,3.25,NaN,NaN,NaN,NaN,11.35,10.85,NaN,15.1,14.35
744392,744393,52001973,7.0,6.00,5.0,5.25,5.50,4.00,NaN,NaN,NaN,NaN,17.75,16.50,NaN,18,17.25
744393,744394,52001988,5.2,3.50,4.0,6.25,5.50,2.25,NaN,NaN,NaN,NaN,16.95,12.95,NaN,12.7,15.45
744394,744395,52001990,7.8,4.50,5.4,7.50,6.25,3.00,NaN,NaN,NaN,NaN,21.55,17.05,NaN,17.7,20.70
744395,744396,52001998,5.8,3.50,3.0,6.25,4.75,3.25,NaN,NaN,NaN,NaN,16.80,13.80,NaN,12.3,15.05

Xuất ra một số mẫu của bảng dữ liệu 2018, ta nhận thấy cột Unnamed:11 chỉ có các giá trị NaN. Cột này có ý nghĩa gì? Liệu có giá trị nào khác NaN? 

--> Kiểm tra

In [13]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744396 entries, 0 to 744395
Data columns (total 17 columns):
ID             744396 non-null int64
SoBD           744396 non-null int64
Math           741024 non-null float64
Viet           728309 non-null float64
English        659998 non-null float64
Physics        323353 non-null float64
Chemistry      326981 non-null float64
Biology        319605 non-null float64
History        446118 non-null float64
Geography      433221 non-null float64
GDCD           379034 non-null float64
Unnamed: 11    0 non-null float64
KhoiA          321232 non-null float64
KhoiB          319516 non-null float64
KhoiC          432605 non-null float64
KhoiD          656353 non-null object
KhoiA1         307864 non-null float64
dtypes: float64(14), int64(2), object(1)
memory usage: 96.5+ MB

Ta thấy cột Unnamed: 11 không có giá trị nào không phải là NaN. Suy ra là cột trống nên ta sẽ drop cột này

In [17]:
df_2018.drop(columns='Unnamed: 11', inplace=True)
df_2018

,ID,SoBD,Math,Viet,English,Physics,Chemistry,Biology,History,Geography,GDCD,KhoiA,KhoiB,KhoiC,KhoiD,KhoiA1
0,1,18010226,3.0,3.75,3.0,NaN,NaN,NaN,3.0,6.50,8.25,NaN,NaN,13.25,9.75,NaN
1,2,18010229,8.8,7.50,9.0,NaN,NaN,NaN,6.0,9.00,8.25,NaN,NaN,22.50,25.3,NaN
2,3,18010232,6.0,5.50,4.0,5.75,5.50,5.00,NaN,NaN,NaN,17.25,16.50,NaN,15.5,15.75
3,4,18010242,3.4,5.75,2.6,NaN,NaN,NaN,3.5,4.75,7.25,NaN,NaN,14.00,11.75,NaN
4,5,18010247,3.8,6.75,3.0,NaN,NaN,NaN,3.5,6.25,8.00,NaN,NaN,16.50,13.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744391,744392,52001970,4.6,4.50,6.0,3.75,3.00,3.25,NaN,NaN,NaN,11.35,10.85,NaN,15.1,14.35
744392,744393,52001973,7.0,6.00,5.0,5.25,5.50,4.00,NaN,NaN,NaN,17.75,16.50,NaN,18,17.25
744393,744394,52001988,5.2,3.50,4.0,6.25,5.50,2.25,NaN,NaN,NaN,16.95,12.95,NaN,12.7,15.45
744394,744395,52001990,7.8,4.50,5.4,7.50,6.25,3.00,NaN,NaN,NaN,21.55,17.05,NaN,17.7,20.70
744395,744396,52001998,5.8,3.50,3.0,6.25,4.75,3.25,NaN,NaN,NaN,16.80,13.80,NaN,12.3,15.05

## 3. 3 câu hỏi cần trả lời

## 4. Tìm câu trả lời

## 5. Nhìn lại quá trình thực hiện

## 6. Tài liệu tham khảo